"@ava:registry" "https://registry.npmjs.org/"
"@babel:registry" "https://registry.npmjs.org/"
"@concordance:registry" "https://registry.npmjs.org/"
"@ladjs:registry" "https://registry.npmjs.org/"
"@sinonjs:registry" "https://registry.npmjs.org/"
"@types:registry" "https://registry.npmjs.org/"
registry "http://maven.forgerock.org/repo/api/npm/npm-virtual/"
